// TYPE SELECTORS
body {
    font-family: $font-poppins;
    background-color: $primary;
}

// CLASS SELECTORS
.fade-in-transition {
    @include keyframes(transition) {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 100%;
        }
    }
    animation: transition 0.5s linear;
}

.overlay {
    position: fixed;
    @include displayFlex(row, center, center);
    width: 100%;
    height: 100%; 
    top: 0; left: 0; right: 0; bottom: 0; /* To cover the whole page */
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
  }