
@mixin displayFlex($direction, $align, $justify) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

/* LOADING SPINNER –HOMEPAGE– */

// @mixin spinAnimation($name, $duration, $timing, $iteration) {
//     animation: $name $duration $timing $iteration;
// }

// @mixin spinKeyframes($name) {
//     @keyframes #{$name} {
//         0% {
//             transform: rotate(0deg);
//         }
//         100% {
//             transform: rotate(360deg);
//         }
//     }
// }