
@mixin displayFlex($direction, $align, $justify){
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

@mixin positionAbsoluteCenter(){
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

@mixin buttonEffect($fontColor, $bgColor, $borderColor){
    color: $fontColor;
    background-color: $bgColor;
    border: 2px solid $borderColor;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

@mixin spinner($width, $height, $borderPX, $borderRGBA, $borderLeftColor){
    width: $width;
    height: $height;
    border: $borderPX solid rgba($borderRGBA, $borderRGBA, $borderRGBA, .1);
    border-radius: 50%;
    border-left-color: $borderLeftColor;
    animation: spinner 1s ease infinite;
}

/* GENERIC KEYFRAMES */

@mixin keyframes($name) {
    @keyframes #{$name} {
        @content
    }
}