
@mixin displayFlex($direction, $align, $justify){
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

@mixin buttonEffect($fontColor, $bgColor, $borderColor){
    color: $fontColor;
    background-color: $bgColor;
    border: 2px solid $borderColor;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

/* GENERIC KEYFRAMES */

@mixin keyframes($name) {
    @keyframes #{$name} {
        @content
    }
}