
// COLORS
$white: #ffffff;

$primary: #191414;
$secondary: #ffffff;
$accent: #1db954;
// $primary: #098A5A;
// $secondary: #191414;
// $accent: #FDA707;

$grey-light: #e8e8e8;
$grey-medium: #d1d0d0;
$grey-dark: #bab9b9;

$primary-dark: #3B3838;
$primary-medium: #5E5C5C;
$primary-ligth: #808080;

$accent-dark: #3FE178;
$accent-medium: #7FEBA5;
$accent-ligth: #BFF5D2;