
// COLORS
$primary: #191414;
$secondary: #FFFFFF;
$accent: #1DB954;

$primary-dark: #3B3838;
$primary-medium: #5E5C5C;
$primary-ligth: #808080;

$secondary-10: #E6E6E6;
$secondary-20: #CCCCCC;
$secondary-40: #999999;
$secondary-70: #4C4C4C;

$accent-dark: #3FE178;
$accent-medium: #7FEBA5;
$accent-ligth: #BFF5D2;

// ALERTS
$success: #109e5e;
$success-dark: #084f2f;
$success-ligth: #88cfaf;

$warning: #dfca11;
$warning-dark: #706509;
$warning-ligth: #efe588;

$danger: #ec2206;
$danger-dark: #761103;
$danger-ligth: #f69183;