/* UTILITIES */
@import './utilities/reset';

/* BASE */
@import './base/fonts';
@import './base/mixins';
@import './base/variables';

/* PAGES */
@import './pages/HomePage';
@import './pages/DiscoverPage';

/* COMPONENTS */
@import './components/Card';


body {
    font-family: $font-arimo;
    color: $secondary;
    background-color: $primary;
}