/* UTILITIES */
@import './utilities/reset';

/* BASE */
@import './base/fonts';
@import './base/mixins';
@import './base/variables';

/* PAGES */
@import './pages/HomePage';
@import './pages/DiscoverPage';

/* COMPONENTS */
@import './components/Card';


body {
    width: 100%;
    height: 100%;
    font-family: $font-arimo;
    background-color: $primary;
}

.fill {
    fill: 1;
}