.mainDiscover {
    @include displayFlex(column, center, flex-start);
    width: 100%;
    min-height: calc(100svh - (60px + 100px));
    background-color: $primary;

    .headerDiscover {
        @include displayFlex(row, center, center);
        width: 100%;
        height: 80px;

        button {
            @include displayFlex(row, center, space-between);
            width: 200px;
            height: 40px;
            padding: 0 20px;
            border: 2px solid $accent;
            border-radius: 10px;
            color: $primary;
            background-color: $accent;

            &:hover {
                @include buttonEffect($primary, $accent-dark, $accent-dark);
            }

            &:active {
                @include buttonEffect($primary, $accent, $accent);
            }

            .randomTrack {
                font-size: 1rem;
                font-weight: 500;
            }

            .spinner {
                @include keyframes(spinner){
                    0% {
                        transform: rotate(0deg);
                    }
                    100% {
                        transform: rotate(360deg);
                    }
                }
                width: 20px;
                height: 20px;
                border: 3px solid rgba(0, 0, 0, .1);
                border-radius: 50%;
                border-left-color: $primary;
                animation: spinner 1s ease infinite;
            }
        }
    }
}



/* ***************************************/
/* MEDIA QUERIES *************************/
/* ***************************************/

/* 768px *************************/
  
@media screen and (min-width:768px) {
    
    .mainDiscover {
    
        .headerDiscover {
            height: 90px;
    
            button {
                width: 240px;
                padding: 0 30px;
            }

            .randomTrack {
                font-size: 1.1rem;
            }
        }
    }
} /* 768px end */


/* 992px *************************/
  
@media screen and (min-width:992px) {
    
    .mainDiscover {
        min-height: calc(100svh - (80px + 100px));

        .headerDiscover {
            height: 110px;

            button {
                width: 250px;
                height: 50px;
                padding: 0 30px;

                .randomTrack {
                    font-size: 1.2rem;
                }
            }
        }
    }
} /* 992px end */