.mainHome {
    @include displayFlex(column, center, center);
    width: 100%;
    min-height: 100svh;
    gap: 50px;

    header {
        @include displayFlex(column, center, center);

        .equalizerIcon {
            font-size: 7rem;
            color: $accent;
        }

        .headerHome {
            @include displayFlex(column, center, center);
            gap: 8px;

            h1 {
                font-family: $font-prompt;
                font-size: 2.1rem;
                text-transform: uppercase;
                color: $secondary;
            }

            p {
                font-size: 1.05rem;
                color: $secondary-20;
            }
        }
    }

    a {
        @include displayFlex(row, center, center);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid $primary;
        color: $primary;
        background-color: $accent;
        
        &:hover {
            @include buttonEffect($accent, $primary, $accent);
        }

        &:active {
            @include buttonEffect($primary, $accent, $primary);
        }

        button {
            @include displayFlex(row, center, center);

            span {
                font-size: 2rem;
                font-weight: 600;
            }
        }
    }
}



/* ***************************************/
/* MEDIA QUERIES *************************/
/* ***************************************/

/* 768px *************************/

@media screen and (min-width:768px) {

    .mainHome {
    
        header {
            gap: 10px;
    
            .equalizerIcon {
                font-size: 8rem;
            }
    
            .headerHome {
                gap: 10px;
    
                h1 {
                    font-size: 2.4rem;
                }
    
                p {
                    font-size: 1.2rem;
                }
            }
        }
    
        a {
            width: 48px;
            height: 48px;
    
            button {
    
                span {
                    font-size: 2.4rem;
                }
            }
        }
    }

} /* 768px end */


/* 992px *************************/
  
@media screen and (min-width:992px) {

    .mainHome {
    
        header {
            gap: 15px;
    
            .equalizerIcon {
                font-size: 10rem;
            }
    
            .headerHome {
                gap: 10px;
    
                h1 {
                    font-size: 3rem;
                }
    
                p {
                    font-size: 1.5rem;
                }
            }
        }
    
        a {
            width: 60px;
            height: 60px;
    
            button {
    
                span {
                    font-size: 3rem;
                }
            }
        }
    }

} /* 992px end */