@charset "UTF-8";
/* UTILITIES */ /* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

img {
  width: 100%;
}

/* Restablecer las propiedades de estilo */
a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

/* Restablecer las propiedades de estilo */
button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  text-align: inherit;
  text-decoration: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* BASE */
/* VARIABLES */
/* LOADING SPINNER –HOMEPAGE– */ /* PAGES */
.mainHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  gap: 80px;
}
.mainHome header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mainHome header .equalizerIcon {
  font-size: 7rem;
  color: #1db954;
}
.mainHome header h1 {
  font-family: "Prompt", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  color: #ffffff;
}
.mainHome a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #191414;
  background-color: #1db954;
}
.mainHome a button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.mainHome a button span {
  font-size: 2rem;
  font-weight: 700;
}

.headerDiscover {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 100%;
  max-width: 1200px;
  height: 60px;
  margin: 0 auto;
  color: #ffffff;
  background-color: #191414;
}
.headerDiscover a {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  gap: 10px;
  font-family: "Prompt", sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
}
.headerDiscover a span {
  font-size: 2rem;
  margin-left: 10px;
  color: #1db954;
}

.mainDiscover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  min-height: calc(100vh - 160px);
  color: #ffffff;
  background-color: #191414;
}
.mainDiscover .discoverMusic {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
}
.mainDiscover .discoverMusic button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #191414;
  background-color: #1db954;
}
.mainDiscover .discoverMusic button span {
  font-size: 1.8rem;
  font-weight: 600;
}
.mainDiscover .discoverMusic .spinner {
  width: 30px;
  height: 30px;
  border: 4px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  border-left-color: #1db954;
  animation: spin 1s ease infinite;
}

.footerDiscover {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  height: 100px;
  margin: 0 auto;
}
.footerDiscover .spotifyLogo {
  width: 70px;
}
.footerDiscover .spotifyLogo .logoXL {
  display: none;
}

/* ***************************************/
/* MEDIA QUERIES *************************/
/* ***************************************/
/* 768px *************************/
@media screen and (min-width: 768px) {
  .footerDiscover .spotifyLogo {
    width: 200px;
  }
  .footerDiscover .spotifyLogo .logoS {
    display: none;
  }
  .footerDiscover .spotifyLogo .logoXL {
    display: initial;
  }
} /* 768px end */
/* 992px *************************/
@media screen and (min-width: 992px) {
  .headerDiscover {
    height: 80px;
  }
  .headerDiscover a {
    font-size: 2.1rem;
    gap: 15px;
  }
  .headerDiscover a span {
    font-size: 2.5rem;
    margin-left: 30px;
    color: #1db954;
  }
  .mainDiscover {
    min-height: calc(100vh - 180px);
  }
  .mainDiscover .discoverMusic {
    height: 110px;
  }
  .mainDiscover .discoverMusic button {
    width: 50px;
    height: 50px;
  }
  .mainDiscover .discoverMusic button span {
    font-size: 2rem;
  }
  .mainDiscover .discoverMusic .spinner {
    width: 40px;
    height: 40px;
  }
} /* 992px end */
/* ***************************************/
/* KEYFRAMES *****************************/
/* ***************************************/
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* COMPONENTS */
.trackContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 80%;
  max-width: 340px;
  height: 100%;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: #3B3838;
}
.trackContainer .artwork {
  display: flex;
  width: 180px;
  margin: 20px 0;
}
.trackContainer .trackInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}
.trackContainer .trackInfo .song {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 8px;
}
.trackContainer .trackInfo .artist {
  font-size: 1rem;
  font-weight: 400;
}
.trackContainer .trackInfo .spotifyButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 30px 0;
  gap: 20px;
}
.trackContainer .trackInfo .spotifyButtons a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 30px;
  font-weight: 500;
  border-radius: 15px;
  color: #191414;
  background-color: #1db954;
  gap: 3px;
}

/* ***************************************/
/* MEDIA QUERIES *************************/
/* ***************************************/
/* 992px *************************/
@media screen and (min-width: 992px) {
  .trackContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    max-width: 992px;
    height: 100%;
    min-height: 300px;
    margin-bottom: 40px;
  }
  .trackContainer .artwork {
    width: 250px;
    margin: 0;
  }
  .trackContainer .trackInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
  }
  .trackContainer .trackInfo .song {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  .trackContainer .trackInfo .artist {
    font-size: 1.1rem;
  }
  .trackContainer .trackInfo .spotifyButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 40px 0 10px;
    gap: 40px;
  }
  .trackContainer .trackInfo .spotifyButtons a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    padding: 0;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 20px;
    gap: 5px;
  }
} /* 992px end */
body {
  width: 100%;
  height: 100%;
  font-family: "Arimo", sans-serif;
  background-color: #191414;
}/*# sourceMappingURL=main.css.map */