/* UTILITIES */ /* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

img {
  width: 100%;
}

/* Restablecer las propiedades de estilo */
a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

/* Restablecer las propiedades de estilo */
button,
input[type=submit] {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  text-align: inherit;
  text-decoration: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* BASE */
/* VARIABLES */
/* GENERIC KEYFRAMES */
body {
  font-family: "Poppins", sans-serif;
  background-color: #191414;
}

.fade-in-transition {
  animation: transition 0.5s linear;
}
@keyframes transition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.overlay {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; /* To cover the whole page */
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

/* LAYOUTS */
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
}
footer .spotify-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 4px;
}
footer .spotify-container .spotify-logo {
  width: 70px;
}
footer .spotify-container span {
  font-size: 0.7rem;
  font-weight: 100;
  color: #FFFFFF;
}

/* ***************************************/
/* MEDIA QUERIES *************************/
/* ***************************************/
/* 768px *************************/
@media screen and (min-width: 768px) {
  footer {
    height: 50px;
  }
  footer .spotify-container {
    gap: 6px;
  }
  footer .spotify-container .spotify-logo {
    width: 100px;
  }
  footer .spotify-container span {
    font-size: 1rem;
  }
} /* 768px end */
.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1200px;
  height: 60px;
  margin: 0 auto;
  color: #FFFFFF;
  background-color: #191414;
}
.nav-bar a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: -moz-fit-content;
  width: fit-content;
  min-height: 100%;
  gap: 10px;
}
.nav-bar a .material-symbols-rounded {
  font-size: 1.8rem;
  margin-left: 10px;
  color: #1DB954;
}
.nav-bar a .title-nav {
  font-family: "Prompt", sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-right: 10px;
}

/* ***************************************/
/* MEDIA QUERIES *************************/
/* ***************************************/
/* 992px *************************/
@media screen and (min-width: 992px) {
  .nav-bar {
    height: 80px;
  }
  .nav-bar a {
    gap: 15px;
  }
  .nav-bar a .material-symbols-rounded {
    font-size: 2rem;
    margin-left: 15px;
  }
  .nav-bar a .title-nav {
    font-size: 2rem;
    margin-right: 15px;
  }
} /* 992px end */
/* PAGES */
.main-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100svh;
  gap: 50px;
}
.main-home .section-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}
.main-home .section-home .sq-logo {
  font-size: 8rem;
  color: #1DB954;
}
.main-home .section-home .headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.main-home .section-home .headline h1 {
  font-family: "Prompt", sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  color: #FFFFFF;
}
.main-home .section-home .headline p {
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 0.3px;
  color: #CCCCCC;
}
.main-home a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #191414;
  color: #191414;
  background-color: #1DB954;
}
.main-home a:hover {
  color: #1DB954;
  background-color: #191414;
  border: 2px solid #1DB954;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}
.main-home a .material-symbols-rounded {
  font-size: 2rem;
  font-weight: 500;
}

/* ***************************************/
/* MEDIA QUERIES *************************/
/* ***************************************/
/* 768px *************************/
@media screen and (min-width: 768px) {
  .main-home {
    gap: 75px;
  }
  .main-home .section-home .sq-logo {
    font-size: 9rem;
  }
  .main-home .section-home .headline h1 {
    font-size: 4rem;
    letter-spacing: -0.5px;
  }
  .main-home .section-home .headline p {
    font-size: 1.1rem;
    letter-spacing: 0.2px;
  }
  .main-home a {
    width: 50px;
    height: 50px;
  }
  .main-home a .material-symbols-rounded {
    font-size: 2.5rem;
  }
} /* 768px end */
/* 992px *************************/
@media screen and (min-width: 992px) {
  .main-home {
    gap: 80px;
  }
  .main-home .section-home .sq-logo {
    font-size: 10rem;
  }
  .main-home .section-home .headline h1 {
    font-size: 5rem;
    letter-spacing: -1.5px;
  }
  .main-home .section-home .headline p {
    font-size: 1.2rem;
    letter-spacing: 0;
  }
  .main-home a {
    width: 60px;
    height: 60px;
  }
  .main-home a .material-symbols-rounded {
    font-size: 3rem;
  }
} /* 992px end */
.main-results {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: calc(100svh - 100px);
  gap: 20px;
  background-color: #191414;
}
.main-results .shuffle-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 250px;
  min-height: 40px;
  padding: 0 10px;
  border: 2px solid #1DB954;
  border-radius: 5px;
  color: #191414;
  background-color: #1DB954;
  animation: transition 0.5s linear;
}
@keyframes transition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
.main-results .shuffle-button:hover {
  color: #1DB954;
  background-color: #191414;
  border: 2px solid #1DB954;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}
.main-results .shuffle-button span {
  font-size: 2rem;
  font-weight: 400;
}
.main-results .spinner {
  position: absolute;
  top: 20%;
  width: 50px;
  height: 50px;
  border: 5px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  border-left-color: #1DB954;
  animation: spinner 1s ease infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ***************************************/
/* MEDIA QUERIES *************************/
/* ***************************************/
/* 768px *************************/
@media screen and (min-width: 768px) {
  .main-results {
    min-height: calc(100svh - 110px);
    gap: 30px;
  }
  .main-results .shuffle-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 300px;
    min-height: 50px;
  }
  .main-results .shuffle-button span {
    font-size: 2.5rem;
  }
} /* 768px end */
/* 992px *************************/
@media screen and (min-width: 992px) {
  .main-results {
    min-height: calc(100svh - 130px);
  }
  .main-results .shuffle-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 350px;
    min-height: 60px;
  }
  .main-results .shuffle-button span {
    font-size: 3rem;
  }
} /* 992px end */
/* COMPONENTS */
:root {
  --icon-fill-value: 0;
}

.card-shuffle-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 300px;
  min-height: 30px;
  padding: 0 10px;
  margin-top: 20px;
  border: 2px solid #1DB954;
  border-radius: 5px;
  color: #191414;
  background-color: #1DB954;
}
.card-shuffle-button:hover {
  color: #1DB954;
  background-color: #191414;
  border: 2px solid #1DB954;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}
.card-shuffle-button span {
  font-size: 1.5rem;
  font-weight: 400;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 300px;
  margin-bottom: 30px;
  gap: 10px;
}
.card-container .artwork {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}
.card-container .artwork img {
  -o-object-fit: contain;
     object-fit: contain;
}
.card-container .card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}
.card-container .card-item .track-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: -moz-fit-content;
  min-height: fit-content;
  border-radius: 5px;
  background-color: #3B3838;
}
.card-container .card-item .track-info .song {
  font-size: 1.1rem;
  font-weight: 300;
  text-align: center;
  padding: 0 10px;
  margin: 10px 0 8px;
  color: #FFFFFF;
}
.card-container .card-item .track-info .artist {
  font-size: 0.9rem;
  font-weight: 200;
  font-style: italic;
  text-align: center;
  padding: 0 5px;
  color: #FFFFFF;
}
.card-container .card-item .track-info .like-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px 0 10px;
  color: #1DB954;
}
.card-container .card-item .track-info .like-button .material-symbols-rounded {
  font-variation-settings: "FILL" var(--icon-fill-value);
}
.card-container .card-item .card-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
}
.card-container .card-item .card-nav .card-nav-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 30px;
  font-size: 0.9rem;
  font-weight: 300;
  border: 2px solid #1DB954;
  border-radius: 5px;
  color: #1DB954;
  background-color: #191414;
}
.card-container .card-item .card-nav .card-nav-button:hover {
  color: #191414;
  background-color: #1DB954;
  border: 2px solid #1DB954;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}

/* ***************************************/
/* MEDIA QUERIES *************************/
/* ***************************************/
/* 768px *************************/
@media screen and (min-width: 768px) {
  .card-shuffle-button {
    max-width: 400px;
    min-height: 40px;
    margin-top: 30px;
  }
  .card-shuffle-button span {
    font-size: 2rem;
  }
  .card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
    min-height: 350px;
    gap: 30px;
  }
  .card-container .artwork {
    max-width: 350px;
  }
  .card-container .card-item {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: 80%;
    max-width: 400px;
    height: 100%;
    min-height: 350px;
    gap: 30px;
  }
  .card-container .card-item .track-info {
    min-height: 150px;
  }
  .card-container .card-item .track-info .song {
    font-size: 1.2rem;
    margin: 10px 0 10px;
  }
  .card-container .card-item .track-info .artist {
    font-size: 1rem;
  }
  .card-container .card-item .track-info .like-button {
    margin: 30px 0 0;
  }
  .card-container .card-item .card-nav {
    gap: 15px;
  }
  .card-container .card-item .card-nav a {
    width: 100%;
    min-height: 40px;
    font-size: 1rem;
  }
} /* 768px end */
.error-toast {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
}
.error-toast .error-toast-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 300px;
  min-height: 100px;
  border-radius: 5px;
  background-color: #180301;
  box-shadow: rgba(236, 34, 6, 0.1) 0px 10px 10px -10px;
  animation: transition 0.5s linear;
}
@keyframes transition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
.error-toast .error-toast-container .material-symbols-rounded {
  color: #ec2206;
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}
.error-toast .error-toast-container .error-icon {
  font-size: 1.5rem;
  padding: 15px;
}
.error-toast .error-toast-container .text-error-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #FFFFFF;
  padding: 15px;
  gap: 10px;
}
.error-toast .error-toast-container .text-error-container .error-title {
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 0.5px;
}
.error-toast .error-toast-container .text-error-container .error-subtitle {
  font-size: 0.9rem;
  font-weight: 200;
  letter-spacing: 0.5px;
}
.error-toast .error-toast-container .close-icon {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  padding: 5px;
}

/* ***************************************/
/* MEDIA QUERIES *************************/
/* ***************************************/
/* 768px *************************/
@media screen and (min-width: 768px) {
  .error-toast .error-toast-container {
    max-width: 400px;
  }
  .error-toast .error-toast-container .error-icon {
    font-size: 2rem;
  }
  .error-toast .error-toast-container .text-error-container .error-title {
    font-size: 1.2rem;
    letter-spacing: 0;
  }
  .error-toast .error-toast-container .text-error-container .error-subtitle {
    font-size: 1rem;
    letter-spacing: 0;
  }
  .error-toast .error-toast-container .close-icon {
    font-size: 2rem;
  }
} /* 768px end */
.host-form-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  max-width: 500px;
  min-height: 270px;
  border-radius: 5px;
  gap: 20px;
  overflow: hidden;
  color: #FFFFFF;
  background-color: #191414;
}
.host-form-container > * {
  -o-object-fit: contain;
     object-fit: contain;
}
.host-form-container .close-button {
  position: absolute;
  top: 0;
  right: 0;
  width: -moz-fit-content;
  width: fit-content;
  margin: 5px;
}
.host-form-container .close-button span {
  font-size: 1.2rem;
  color: #E6E6E6;
}
.host-form-container .host-form-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-top: 20px;
  gap: 5px;
}
.host-form-container .host-form-description h2 {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}
.host-form-container .host-form-description p {
  font-size: 0.8rem;
  font-weight: 300;
  text-align: center;
  color: #999999;
}
.host-form-container .host-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  border-radius: 5px;
  gap: 10px;
  background-color: #3B3838;
}
.host-form-container .host-form #username {
  width: 70%;
  max-width: 300px;
  height: 30px;
  margin-top: 15px;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  text-align: center;
  border: none;
  border-radius: 3px;
  color: #191414;
  background-color: #FFFFFF;
}
.host-form-container .host-form #username::-moz-placeholder {
  font-weight: 300;
}
.host-form-container .host-form #username::placeholder {
  font-weight: 300;
}
.host-form-container .host-form input[type=submit] {
  width: 90%;
  max-width: 100px;
  min-height: 30px;
  font-size: 0.8rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 15px;
  border: 2px solid #1DB954;
  border-radius: 3px;
  color: #191414;
  background-color: #1DB954;
}
.host-form-container .host-form input[type=submit]:hover {
  color: #1DB954;
  background-color: #191414;
  border: 2px solid #1DB954;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}
.host-form-container .host-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  min-height: 40px;
  margin-bottom: 20px;
  color: #ec2206;
}
.host-form-container .host-container > * {
  padding: 0 5px;
}
.host-form-container .host-container span {
  font-size: 1.5rem;
  font-weight: 300;
}
.host-form-container .host-container .host-error-message {
  font-size: 0.8rem;
  font-weight: 300;
  text-align: center;
}
.host-form-container .host-container .loader {
  width: 100px;
  height: 16px;
  display: inline-block;
  background-color: #1DB954;
  border: 1px solid #1DB954;
  border-radius: 4px;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.25) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0.25) 75%, transparent 75%, transparent);
  font-size: 30px;
  background-size: 1em 1em;
  box-sizing: border-box;
  animation: barStripe 1s linear infinite;
}

/* ***************************************/
/* MEDIA QUERIES *************************/
/* ***************************************/
/* 992px *************************/
@media screen and (min-width: 992px) {
  .host-form-container {
    max-width: 600px;
    min-height: 345px;
    gap: 30px;
  }
  .host-form-container .close-button {
    margin: 10px;
  }
  .host-form-container .close-button span {
    font-size: 1.3rem;
  }
  .host-form-container .host-form-description {
    margin-top: 30px;
    gap: 10px;
  }
  .host-form-container .host-form-description h2 {
    font-size: 1.2rem;
  }
  .host-form-container .host-form-description p {
    font-size: 0.9rem;
  }
  .host-form-container .host-form {
    gap: 15px;
  }
  .host-form-container .host-form #username {
    max-width: 450px;
    height: 40px;
    margin-top: 20px;
    font-size: 0.9rem;
  }
  .host-form-container .host-form input[type=submit] {
    max-width: 150px;
    min-height: 40px;
    font-size: 0.9rem;
    margin-bottom: 20px;
  }
  .host-form-container .host-container {
    min-height: 40px;
    margin-bottom: 30px;
  }
  .host-form-container .host-container > * {
    padding: 0 10px;
  }
  .host-form-container .host-container span {
    font-size: 1.7rem;
  }
  .host-form-container .host-container .host-error-message {
    font-size: 0.9rem;
  }
  .host-form-container .host-container .loader {
    width: 150px;
  }
} /* 992px end */
/* ***************************************/
/* KEYFRAMES *****************************/
/* ***************************************/
@keyframes barStripe {
  0% {
    background-position: 1em 0;
  }
  100% {
    background-position: 0 0;
  }
}/*# sourceMappingURL=main.css.map */