
.trackContainer {
    @include displayFlex(column, center, start);
    width: 90%;
    max-width: 340px;
    height: 100%;
    text-align: center;
    margin-bottom: 20px;
    // border: 1px solid $secondary;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    // background: linear-gradient($primary, $primary-10);

    .artwork {
        display: flex;
        width: 220px;
        margin: 10px 0;
        // padding: 10px;
    }

    .trackInfo {
        @include displayFlex(column, center, center);
        width: 90%;
        
        .song {
            font-size: 1.5rem;
            font-weight: 500;
            margin: 8px 0;
            // padding-top: 20px;
        }
    
        .artist {
            font-size: 1.1rem;
            font-weight: 300;
            margin-bottom: 20px;
            // padding-top: 10px;
        }

        .spotifySection {
            @include displayFlex(row, center, space-evenly);
            width: 100%;
            padding: 10px;
            margin: 10px 0;

            .spotifyLogo {
                @include displayFlex(row, center, center);
                width: 80px;
            }

            .spotifyLinks {
                @include displayFlex(column, center, center);
                width: fit-content;
                gap: 10px;

                & a {
                    @include displayFlex(row, center, center);
                    width: 130px;
                    height: 40px;
                    font-weight: 600;
                    border-radius: 20px;
                    color: $secondary;
                    background-color: $accent;

                    & span {
                        font-weight: 600;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}



/* ***************************************/
/* MEDIA QUERIES *************************/
/* ***************************************/

/* 992px *************************/
  
@media screen and (min-width:992px) {

    .trackContainer {
        @include displayFlex(row, center, center);
        width: 100%;
        max-width: 800px;
        min-height: 350px;
        text-align: start;
        border-radius: 20px;
        // background: linear-gradient($primary, $primary-10);
    
        .artwork {
            width: 400px;
            padding: 0;
            margin-left: 40px;
            background-color: red
        }

        .trackInfo {
            @include displayFlex(column, center, center);
            width: 100%;
            margin-left: 40px;

            .song {
                font-size: 1.7rem;
                padding-top: 0;
                margin: 10px 0 10px;
            }
        
            .artist {
                font-size: 1.3rem;
                padding-top: 0;
                margin-bottom: 40px;
            }
        
            .spotifySection {
                @include displayFlex(row, center, center);
                margin: 0;
    
                .spotifyLogo {
                    height: 100%;
                    margin-right: 20px;
                }
    
                .spotifyLinks {
                    @include displayFlex(column, center, center);
                    width: 160px;
                    height: 100%;
                    margin-left: 20px;
    
                    & a {
                        @include displayFlex(row, center, center);
                        width: 100%;
                        height: 36px;
                        border-radius: 16px;
                    }
                }
            }    
        }
    }
} /* 992px end */