:root {
    --icon-fill-value: 0;
}

.card-shuffle-button {
    @include displayFlex(row, center, center);
    width: 90%;
    max-width: 300px;
    min-height: 30px;
    padding: 0 10px;
    margin-top: 20px;
    border: 2px solid $accent;
    border-radius: 5px;
    color: $primary;
    background-color: $accent;

    &:hover {
        @include buttonEffect($accent, $primary, $accent);
    }

    span {
        font-size: 1.5rem;
        font-weight: 400;
    }
}

.card-container {
    @include keyframes(transition) {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 100%;
        }
    }
    @include displayFlex(column, center, center);
    width: 90%;
    max-width: 300px;
    margin-bottom: 30px;
    gap: 10px;
    animation: transition 0.5s linear;

    .artwork {
        @include displayFlex(row, center, center);
        width: 100%;
        overflow: hidden;

        img {
            object-fit: contain;
        }
    }

    .card-item {
        @include displayFlex(column, center, center);
        width: 100%;
        gap: 20px;

        .track-info {
            @include displayFlex(column, center, center);
            width: 100%;
            min-height: fit-content;
            border-radius: 5px;
            background-color: $primary-dark;

            .song {
                font-size: 1.1rem;
                font-weight: 300;
                text-align: center;
                padding: 0 10px;
                margin: 10px 0 8px;
                color: $secondary;
            }
    
            .artist {
                font-size: 0.9rem;
                font-weight: 200;
                font-style: italic;
                text-align: center;
                padding: 0 5px;
                color: $secondary;
            }
    
            .like-button {
                @include displayFlex(row, center, center);
                margin: 20px 0 10px;
                color: $accent;

                .material-symbols-rounded {
                    font-variation-settings:
                    'FILL' var(--icon-fill-value)
                }
            }
        }

        .card-nav {
            @include displayFlex(column, center, center);
            width: 100%;
            gap: 10px;

            a {
                @include displayFlex(row, center, center);
                width: 100%;
                min-height: 30px;
                font-size: 0.9rem;
                font-weight: 300;
                border: 2px solid $accent;
                border-radius: 5px;
                color: $accent;
                background-color: $primary;

                &:hover {
                    @include buttonEffect($primary, $accent, $accent);
                }
            }
        }
    }
}



/* ***************************************/
/* MEDIA QUERIES *************************/
/* ***************************************/

/* 768px *************************/
  
@media screen and (min-width:768px) {

    .card-shuffle-button {
        max-width: 400px;
        min-height: 40px;
        margin-top: 30px;
    
        span {
            font-size: 2rem;
        }
    }
    
    .card-container {
        @include displayFlex(row, center, space-between);
        max-width: 800px;
        min-height: 350px;
        gap: 30px;
    
        .artwork {
            max-width: 350px;
        }
    
        .card-item {
            @include displayFlex(column, flex-end, space-between);
            width: 80%;
            max-width: 400px;
            height: 100%;
            min-height: 350px;
            gap: 30px;
    
            .track-info {
                min-height: 150px;
    
                .song {
                    font-size: 1.2rem;
                    margin: 10px 0 10px;
                }
        
                .artist {
                    font-size: 1rem;
                }
        
                .like-button {
                    margin: 30px 0 0;
                }
            }
    
            .card-nav {
                gap: 15px;
    
                a {
                    width: 100%;
                    min-height: 40px;
                    font-size: 1rem;
                }
            }
        }
    }
} /* 768px end */