.error-toast-section {
    @include positionAbsoluteCenter();
    @include displayFlex(row, center, center);
    width: 90%;
    max-width: 300px;
    color: $secondary;

    .error-toast-container {
        @include displayFlex(row, flex-start, space-between);
        width: 100%;
        min-height: fit-content;
        border: 1px solid $danger;
        border-radius: 5px;
        gap: 10px;

        .error-icon {
            font-size: 1.5rem;
            font-weight: 300;
            margin: 10px 0 0 5px;
            color: $danger;
        }
    
        .error-toast-message {
            @include displayFlex(column, flex-start, center);
            margin: 10px 0;
    
            h3 {
                font-size: 0.9rem;
                font-weight: 600;
                line-height: 1.1rem;
                word-spacing: 0.05em;
                margin-bottom: 5px;
            }
    
            p {
                font-size: 0.8rem;
                font-weight: 300;
                line-height: 1.1rem;
                word-spacing: 0.05em;
                color: $secondary-20;
            }
        }

        button {
            @include displayFlex(row, center, center);
            width: fit-content;

            span {
                font-size: 1rem;
                margin: 5px 5px 0 0;
                color: $secondary-10;
            }
        }
    }
}



/* ***************************************/
/* MEDIA QUERIES *************************/
/* ***************************************/

/* 768px *************************/
@media screen and (min-width:768px) {
    
    .error-toast-section {
        width: 100%;
        max-width: 350px;
    
        .error-toast-container {
            gap: 15px;
    
            .error-icon {
                margin: 15px 0 0 10px;
            }
        
            .error-toast-message {
                margin: 15px 0;
            }
        }
    }
} /* 768px end */

/* 992px *************************/
@media screen and (min-width:992px) {
    

} /* 992px end */