.error-toast-section {
    @include positionAbsoluteCenter();
    @include displayFlex(row, center, center);
    width: 90%;
    max-width: 300px;
    color: $secondary;

    .error-toast-container {
        position: relative;
        @include displayFlex(row, flex-start, flex-start);
        width: 100%;
        min-height: fit-content;
        border: 1px solid $danger;
        border-radius: 5px;

        .error-icon {
            font-size: 1.5rem;
            font-weight: 400;
            margin: 30px 10px;
            color: $danger;
        }
    
        .error-toast-message {
            @include displayFlex(column, flex-start, center);
            margin: 30px 10px 30px 0;
    
            h3 {
                font-size: 0.9rem;
                font-weight: 600;
                line-height: 1.1rem;
                word-spacing: 0.05em;
                margin-bottom: 5px;
            }
    
            p {
                font-size: 0.8rem;
                font-weight: 300;
                line-height: 1.1rem;
                word-spacing: 0.05em;
                color: $secondary-20;
            }
        }

        .close-button {

            span {
                font-size: 1rem;
                margin: 2px 2px 0 0;
                color: $secondary-10;
            }
        }
    }
}



/* ***************************************/
/* MEDIA QUERIES *************************/
/* ***************************************/

/* 768px *************************/
@media screen and (min-width:768px) {
    
    .error-toast-section {
        width: 100%;
        max-width: 350px;
    
        .error-toast-container {
    
            .error-icon {
                margin: 40px 20px;
            }
        
            .error-toast-message {
                margin: 40px 20px 40px 0;

                h3 {
                    font-size: 0.95rem;
                }
        
                p {
                    font-size: 0.85rem;
                }
            }
    
            .close-button {
    
                span {
                    font-size: 1.1rem;
                }
            }
        }
    }
} /* 768px end */

/* 992px *************************/
@media screen and (min-width:992px) {
    
    .error-toast-section {
        position: static;
        top: 0; left: 0;
        transform: none;
        max-width: 600px;
        height: 280px;
    
        .error-toast-container {

            .error-toast-message {

                h3 {
                    font-size: 1rem;
                    margin-bottom: 10px;
                }
        
                p {
                    font-size: 0.9rem;
                }
            }
    
            .close-button {
    
                span {
                    font-size: 1.2rem;
                }
            }
        }
    }
} /* 992px end */

/* 1200px *************************/
@media screen and (min-width:1200px) {
    
    .error-toast-section {
        max-width: 800px;
        height: 380px;
    
        .error-toast-container {

            .error-icon {
                font-size: 1.6rem;
            }
    
            .close-button {
    
                span {
                    font-size: 1.3rem;
                }
            }
        }
    }
} /* 1200px end */