.host-actions-section {
    @include displayFlex(column, center, center);
    width: 90%;
    max-width: 300px;
    margin-top: 10px;
    padding-bottom: 30px;
    border-bottom: 1px solid $secondary;

    .host-container {
        @include displayFlex(column, flex-start, center);
        width: 100%;
        margin-bottom: 15px;

        .host-link {
            @include displayFlex(row, center, center);
            width: fit-content;
            margin-bottom: 15px;
            color: $secondary;
            gap: 10px;

            .host-icon {
                font-size: 1.5rem;          
                font-weight: 400;
                font-variation-settings:
                    'FILL' 1,
            }

            .host-username {
                font-size: 1rem;
                font-weight: 400;
                color: $secondary;
            }

            &:hover {

                .host-username {
                    color: $accent;
                }
            }
        }

        .host-button {
            @include displayFlex(row, center, center);
            @include mainButtonStyles(100%, 300px, 30px, 0.9rem, 400, $accent, $secondary, $accent);
    
            &:hover {
                @include buttonEffect($secondary, $primary, $accent);
            }
        }
    }

    .shuffle-button {
        @include displayFlex(row, center, center);
        @include mainButtonStyles(100%, 300px, 30px, 0.9rem, 400, $accent, $secondary, $accent);


        &:hover {
            @include buttonEffect($secondary, $primary, $accent);
        }
    }
}



/* ***************************************/
/* MEDIA QUERIES *************************/
/* ***************************************/

/* 768px *************************/

@media screen and (min-width:768px) {



} /* 768px end */