.host-form-section {
    @include displayFlex (column, center, flex-start);
    width: 90%;
    max-width: 500px;
    min-height: fit-content;
    border-radius: 5px;
    background-color: $primary;

    .host-form-top {
        @include displayFlex(row, center, space-between);
        width: 100%;
        height: 40px;
        border-radius: 5px 5px 0 0;
        background-color: $primary-medium;

        .lang-options {
            @include displayFlex(row, center, space-between);
            width: 50px;
            margin-left: 5%;
            font-size: 0.9rem;
        }

        .close-box-button {
            @include displayFlex(row, center, center);
            width: fit-content;
            margin-right: 1%;          
        }
    }

    .host-form-description {
        @include displayFlex(column, center, center);
        width: 90%;
        padding-bottom: 30px;
        margin: 30px 0;
        gap: 10px;
        border-bottom: 1px solid $accent;

        h2 {
            font-size: 0.95rem;
            font-weight: 700;
            letter-spacing: 0.5px;
            line-height: 1.17rem;
        }

        p {
            font-size: 0.85rem;
            font-weight: 200;
            line-height: 1.17rem;
            word-spacing: 0.10em;
            color: $primary-ligth;

            span {
                color: $accent;
            }
        }
    }

    .host-form {
        @include displayFlex(row, center, center);
        width: 90%;
        margin-bottom: 30px;
        gap: 10px;

        > * {
            border-radius: 5px;
        }

        #username {
            width: 100%;
            height: 30px;
            font-family: $font-poppins;
            font-size: 0.9rem;
            text-align: center;
            border: none;
            border-radius: 5px;
            color: $primary;
            background-color: $secondary;

            &::placeholder {
                font-size: 0.8rem;
                font-weight: 300;
                text-align: center;
                color: $primary-ligth;
            }
        }

        input[type=submit] {
            @include mainButtonStyles(100%, 100px, 32px, 0.9rem, 400, $accent, $secondary, $accent);
            text-align: center;

            &:hover {
                @include buttonEffect($secondary, $primary, $accent);
            }
        }
    }

    .host-form-message {
        @include displayFlex(row, center, flex-start);
        width: 90%;
        margin-bottom: 30px;
        gap: 10px;

        span {
            font-size: 1.3rem;
            font-weight: 400;
        }

        p {
            font-size: 0.9rem;
            font-weight: 200;
            word-spacing: 0.05em;
            line-height: 1.17rem;
        }
    }
}



/* ***************************************/
/* MEDIA QUERIES *************************/
/* ***************************************/

/* 768px *************************/
@media screen and (min-width:768px) {

    .host-form-section {
    
        .host-form-description {
    
            h2 {
                font-size: 1rem;
            }
    
            p {
                font-size: 0.9rem;
            }
        }
    
        .host-form {
    
            #username {
                font-size: 1rem;
    
                &::placeholder {
                    font-size: 0.9rem;
                }
            }
    
            input[type=submit] {
                font-size: 1rem;
            }
        }
    }
}/* 768px end */