.info-box {
    position: relative;
    @include displayFlex(column, center, space-between);
    width: 90%;
    min-height: fit-content;
    border-radius: 5px;
    color: $secondary;
    background-color: $primary;
}