.snackbar {
    position: fixed;
    bottom: 10px; left: -290px;
    @include displayFlex(row, center, space-between);
    width: 100%;
    max-width: 280px;
    min-height: 70px;
    border-radius: 5px;
    opacity: 0.95;
    z-index: 1000;
    transition: left 0.5s ease-in-out;

    .snackbar-message {
        @include displayFlex(column, center, center);
        width: 100%;
        margin: 0 5px;

        p {
            font-size: 0.9rem;
            font-weight: 300;

            span {
                font-weight: 600;
            }
        }
    }

    .close-button {
        margin: 1px 3px 0 0;

        .close-icon {
            font-size: 1rem;
        }
    }
}

.slide-in {
    left: 10px;
}

.slide-out {
    left: -290px;
    filter: blur(0.5px);
}



/* ***************************************/
/* MEDIA QUERIES *************************/
/* ***************************************/

/* 768px *************************/
@media screen and (min-width:768px) {

    .snackbar {
        bottom: 60px; left: -310px;

        .close-button {
            margin: 3px 3px 0 0;
        }
    }

    .slide-in {
        left: 20px;
    }

    .slide-out {
        left: -310px;
    }
}/* 768px end */

/* 992px *************************/
@media screen and (min-width:992px) {

    .snackbar {
        bottom: 50px; left: -330px;
        max-width: 320px;
        min-height: 80px;
    
        .snackbar-message {
    
            p {
                font-size: 1rem;
            }
        }
    }

    .slide-in {
        left: 20px;
    }
    
    .slide-out {
        left: -330px;
    }
} /* 992px end */