.nav-bar {
    @include displayFlex(row, center, space-between);
    width: 100%;
    height: 50px;
    color: $secondary;

    > * {
        margin: 0 10px;
    }

    .nav-logo {
        @include displayFlex(row, center, space-between);
        width: fit-content;
        gap: 5px;

        .equalizer-icon {
            font-size: 1.6rem;
            font-weight: 400;
            color: $accent;
        }

        .nav-logo-title {
            font-family: $font-prompt;
            font-size: 1.6rem;
            font-weight: 500;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
    }

    .nav-button {
        @include displayFlex(row, center, center);

        .info-icon {
            font-size: 1.6rem;
            font-weight: 300;
            font-variation-settings:
                'FILL' 0
        }

        &:hover {
            .info-icon {
                color: $accent;
                font-variation-settings:
                    'FILL' 1
            }
        }
    }
}



/* ***************************************/
/* MEDIA QUERIES *************************/
/* ***************************************/

/* 768px *************************/
@media screen and (min-width:768px) {

    .nav-bar {
        height: 60px;
    
        > * {
            margin: 0 20px;
        }
    
        .nav-logo {
            gap: 8px;
    
            .equalizer-icon {
                font-size: 1.8rem;
            }
    
            .nav-logo-title {
                font-size: 1.8rem;
            }
        }
    
        .nav-button {
    
            .info-icon {
                font-size: 1.8rem;
            }
        }
    }
}/* 768px end */

/* 992px *************************/
@media screen and (min-width:992px) {

    .nav-bar {
        max-width: 992px;
        height: 70px;
        margin: 0 auto;

    
        .nav-logo {
            gap: 10px;
    
            .equalizer-icon {
                font-size: 2rem;
            }
    
            .nav-logo-title {
                font-size: 2rem;
            }
        }
    
        .nav-button {
    
            .info-icon {
                font-size: 2rem;
            }
        }
    }
}/* 992px end */