.nav-bar {
    @include displayFlex(row, center, space-between);
    width: 100%;
    max-width: 1200px;
    height: 60px;
    margin: 0 auto;
    color: $secondary;
    background-color: $primary;

    .nav-logo {
        @include displayFlex(row, center, space-between);
        width: fit-content;
        min-height: 100%;
        gap: 10px;

        .equalizer-icon {
            font-size: 1.8rem;
            margin-left: 10px;
            color: $accent;
        }

        .nav-logo-title {
            font-family: $font-prompt;
            font-size: 1.8rem;
            text-transform: uppercase;
            margin-right: 10px;
        }
    }

    .nav-button {
        @include displayFlex(row, center, center);
        margin-right: 20px;

        .info-icon {
            font-size: 2rem;
            font-weight: 300;
            font-variation-settings:
                'FILL' 1
        }

        &:hover {
            .info-icon {
                color: $accent;
                font-variation-settings:
                    'FILL' 0
            }
        }
    }
}



/* ***************************************/
/* MEDIA QUERIES *************************/
/* ***************************************/

/* 992px *************************/

@media screen and (min-width:992px) {

    .nav-bar {
        height: 80px;

        .nav-logo {
            gap: 15px;

            .equalizer-icon {
                font-size: 2rem;
                margin-left: 15px;
            }

            .nav-logo-title {
                font-size: 2rem;
                margin-right: 15px;
            }
        }

        .nav-button {
            margin-right: 30px;

            .info-icon {
                font-size: 2.5rem;
            }
        }
    }
}

/* 992px end */